section {
  height: 500px;
  background-color: white;
  border: 2px solid black;
}

.header {
  background-color: #e5a4cb;
  height: 100vh;
  color: #ffe8d4;
  font-size: 40px;
}

footer {
  height: 500px;
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 575px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 70px;
}

.header-info {
  margin-left: 80px;
}
